*{
    margin: 0;
    padding: 0;
    font-family:'Poppins';
}
body{
    background-color: rgba(72, 163, 0, 0.07);
    padding-bottom: 40px;
    padding-inline: 20px;
}
#title{
    font-size: 64px;
    color: #48A300;
    text-align: center;
    margin: 36px 0;
    
}
#title span{
    color: #61481C;
}
.contain-box{
    background-color:#FBFBFB;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 660px;
    padding: 20px 48px;
    box-shadow: 0 0 8px 1px rgba(54, 55, 54, 0.252);
}
#subtitle{

}
.sun-icon{
    vertical-align: middle;
    margin-left: 15px;
}
.progress-lable{
    color:  #858585;
    font-size: 14px;
margin: 25px 0 18px 0;

}
.progress-bar{
    height: 30px;
    background: rgba(72, 163, 0, 0.1);
border-radius: 15px;
margin: 15px 0;
}
.progress-value{
    height: 100%;
    width: 0;
    background: #48A300;
border-radius: 15px;
margin: 15px 0;
color:  #EEFFE0;
font-size: 10px;
display: flex;
align-items: center;
overflow: hidden;
transition: width 1s ease-in-out;
}

.progress-value span{
    padding-left: 20px;
    min-width: max-content;

}
.error-lable{
    color: #FF5151;
    font-size: 14px;
    margin:18px 0 30px 0 ;
    visibility: hidden;
}
.goal-box{
    border-radius: 17px;
    height: 82px;
    border: 1px solid #0000001A;
    display: flex;
    margin-bottom: 44px;
    /* background-color: #ffffff; */
    background-color: #F6F6F6;

    display: flex;
    align-items: center;
}
.chak-box{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid #61481C4D;
    flex-shrink: 0;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
}
.inp-value{
    height: 28px;
    /* flex-grow: 1; */
    border: none;
    outline: none;
    /* background-color: palevioletred; */
    background-color: #F6F6F6;

    padding-left: 20px;
    margin-right: 20px;
    height: 100%;
    width: 100%;

}
.inp-value::placeholder{
    color:  #D9D9D9;
}
.quote{
    font-weight: 500;
    text-align: center;
}
.made-with{
    color: #858585;
    font-size: 10px;
    text-align: center;
    margin: 52px 0 28px 0;

}
.complete .chak-box{
    background-color: #48A300;
    border-color: #48A300;
}
.complete .inp-value{
    color: #48A300;
    text-decoration: line-through;
    font-family:'Poppins';

}
.show-error .error-lable{
    visibility: inherit;

}
@media (max-width: 768px) {
    #title{
        font-size: 32px;
    }
    .contain-box{
    padding: 10px 32px;

    }
    .goal-box{
        height: 64px;
        border-radius: 15px;
        margin-bottom: 28px;
    }
    .made-with{
    margin-block:36px 20px ;

    }
    .quote{
        font-size: 15px;
    }
    .chak-box{
        height: 20px;
        width: 20px;
    }
    .progress-bar{
        height: 24px;
    }
}